<%= simple_form_for [@task] do |t| %>
    <%= t.error_notification %>
    <%= t.error_notification message: t.object.errors[:base].to_sentence if t.object.errors[:base].present? %>

    <div class="contacts labels">
      <div class="form-inputs">
        <div>
        <%= t.input :description %>
        </div>
        <div class="d-flex justify-content-between">
          <%= t.input :priority, collection: Task.priorities %>
          <%= t.input :contact_id, collection: current_user.contacts, label_method: :full_name%>
          <%= t.input :date_time %>
          <%= t.input :ownership %>
          <%= t.input :category, collection: Task.categories %>
        </div>

        <div class="d-flex justify-content-between">
          <input type="submit" name="commit" value="Save" class="logbtn" data-disable-with="Create Contact">
          <%= link_to contacts_path do %>
              <span class="logbtn">Back</span>
            <%end%>
        </div>
      </div>
    </div>
  <% end %>

