<%= simple_form_for [@task] do |t| %>
    <%= t.error_notification %>
    <%= t.error_notification message: t.object.errors[:base].to_sentence if t.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= t.input :description %>
      <%= t.input :priority %>
      <%= t.input :contact_id %>
      <%= t.input :date_time %>
      <%= t.input :ownership %>
      <%= t.input :complete %>
      <%= t.input :category, collection: Task.categories %>
    </div>

    <div class="form-actions btn btn-primary">
      <%= t.button :submit %>
    </div>
  <% end %>
