<div class="dashboard-container">

  <div class="sidebar col-sm-2">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-sm-10">
    <div class="inner-navbar">
      <%= render 'shared/navbar' %>
    </div>

    <div class="container mt-3" >
      <div class="card tasks-show">
        <div class="row justify-content-center">
          <div class="col-12 ml-3">
              <h1>Task</h1>
              <p class="card-text"> <strong>Content: </strong><%= @task.description %></p>
              <p class="card-text"> <strong>Priority: </strong><%= @task.priority %></p>
              <p class="card-text"> <strong>Date: </strong><%= @task.date_time %></p>
              <p class="card-text"> <strong>Complete: </strong><i class="far <%= @task.complete ? "fa-check-square" : "fa-square" %>"></i></p>
              <p class="card-text"> <strong>Category: </strong><%= @task.category %></p>
          </div>
        </div>

          <div>
             <%= link_to "Send Email", new_email_path, class: "btn btn-gradient" %>
          </div>
      </div>
       <%= link_to "Back", dashboard_path %>
    </div>
  </div>
</div>
