<div class="dashboard-container">
  <div class="row">
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="col-10 p-2 container">
      <div class="row inner-navbar">
          <%= render 'shared/navbar' %>
      </div>

      <div id="container-height" class="row">
        <div class="col-4">
          <div class="dashboard-reviews justify-content-end">
              <h1 id="header"><strong>Recent Review </strong></h1>
              <div class="col-12 ">
                  <div class="card">
                    <div class="card-body d-flex">
                      <p class="card-title"> Comment</p>
                      <p class="card-text"> Rating</p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="dashboard-podcasts justify-content-end">
            <h1 id="special-heather">The LiveUltra Podcast</h1>
            <script type="text/javascript">
<!--
              rssfeed_url = new Array();
              rssfeed_url[0]="https://theliveultrapodcast.libsyn.com/rss";
              rssfeed_frame_width="413";
              rssfeed_frame_height="458";
              rssfeed_scroll="off";
              rssfeed_scroll_step="6";
              rssfeed_scroll_bar="on";
              rssfeed_target="_blank";
              rssfeed_font_size="12";
              rssfeed_font_face="obidee-sans";
              rssfeed_border="on";
              rssfeed_css_url="https://feed.surfing-waves.com/css/style6.css";
              rssfeed_title="on";
              rssfeed_title_name="";
              rssfeed_title_bgcolor="#3366ff";
              rssfeed_title_color="#fff";
              rssfeed_title_bgimage="";
              rssfeed_footer="off";
              rssfeed_footer_name="rss feed";
              rssfeed_footer_bgcolor="#fff";
              rssfeed_footer_color="#333";
              rssfeed_footer_bgimage="";
              rssfeed_item_title_length="50";
              rssfeed_item_title_color="#666";
              rssfeed_item_bgcolor="#fff";
              rssfeed_item_bgimage="";
              rssfeed_item_border_bottom="on";
              rssfeed_item_source_icon="off";
              rssfeed_item_date="off";
              rssfeed_item_description="on";
              rssfeed_item_description_length="120";
              rssfeed_item_description_color="#666";
              rssfeed_item_description_link_color="#333";
              rssfeed_item_description_tag="off";
              rssfeed_no_items="0";
              rssfeed_cache = "875df16ee41da9abcd4c2e969f4db568";
//-->
            </script>
            <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
          </div>
        </div>

        <div class="col-8">
          <div class="dashboard-tasks">
            <h1 id="header"><strong>My Tasks</strong></h1>
            <div class="row">
              <% @tasks.each do |task| %>
                <div class="col-12 mt-3">
                  <div class="card-mini-task">
                    <div class="card-body d-flex justify-content-between">
                      <div>
                        <%= button_to toggle_completed_task_path(task), method: :put, remote: true, class: "checkbutton" do %>
                          <i class="far <%= task.complete ? "fa-check-square" : "fa-square" %>"></i>
                            <%#= f.input_field :complete, as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false %>
                            <%#= f.submit %>
                        <% end %>
                      </div>

                      <div>
                        <%= link_to(task) do %>
                          <% if task.complete %>
                            <del class="card-title"><%= task.description %></del>
                          <% else %>
                            <p class="card-title"><%= task.description %></p>
                          <% end %>
                        <% end %>
                      </div>

                      <div>
                        <p class="card-text"> <%= task.date_time %></p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div id="button" class="d-flex justify-content-center">
                <%= link_to "+", new_task_path, class: "btn secbtn" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
