<div class="dashboard-container">
  
  <div class="sidebar col-sm-2">
    <%= render 'shared/sidebar' %>
    <%= @user.email %>
  </div>

  <div class="col-sm-10">
    <div class="inner-navbar">
      <%= render 'shared/navbar' %>
    </div>

    <div class="d-flex container mt-3">

      <div class="col-4">
        <div class="dashboard-reviews">
          <h1>Recent Reviews</h1>
        </div>
        <div class="dashboard-podcasts">
          <h1>The LiveUltra Podcast</h1>
        </div>     
      </div>

      <div class="col-8">
        <div class="dashboard-tasks">
          <h1>Today's Tasks</h1>

          <div>
            <%= link_to "Contacts", contacts_path %>
            <%= link_to "Tasks", tasks_path %>
            <%#= link_to "Emails", emails_path %>
          </div>
        </div>
      </div>
    
    </div>
  </div>

</div>

