<div class="sidebar">

  <div class="sidebar-podforce sidebar-logo-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <ul class="sidebar-no-bullets">
    <li>
      <%= link_to dashboard_path do %>
        <i class='bx bx-home'></i>
        <span class="links_name"> </span>
      <% end %>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <%= link_to tasks_path do %>
        <i class='bx bx-task bx-lg'></i>
        <span class="links_name"> </span>
        <% end %>
        <span class="tooltip">Tasks</span>
    </li>
    <li>
      <%= link_to contacts_path do %>
        <i class='bx bxs-contact' ></i>
        <span class="links_name"></span>
        <% end %>
        <span class="tooltip">Contacts</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-badge-dollar'></i>
        <span class="links_name"> </span>
        </a>
        <span class="tooltip">Analytics</span>
    </li>
    <li>
    <a href="#">
      <i class='bx bx-comment-detail' ></i>
      <span class="links_name"></span>
      </a>
      <span class="tooltip">Reviews</span>
    </li>
    <li>
    <a href="#">
      <i class='bx bxs-cog'></i>
      <span class="links_name"></span>
      </a>
      <span class="tooltip">Settings</span>
    </li>
    <li>
    <a href="#">
    <i class='bx bxs-log-out' id="log-out"></i>
      <span class="links_name"></span>
      </a>
      <span class="tooltip">Log Out</span>
    </li>
  </ul>

</div>

