
<%= simple_form_for @contact do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :instagram %>
    <%= f.input :twitter %>
    <%= f.input :linkedin %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions btn btn-primary">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to "Back", contacts_path %>
