<div class="dashboard-container">
  <div class="row">
    <div class="sidebar col-2 col-sm-1">
      <%= render 'shared/sidebar' %>
    </div>

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-12" %>
        <h2 class="contact-header"><%= @contact.first_name %> <%= @contact.last_name %></h2>
        
        <%= render 'form', contact: @contact %>

     </div>

      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-12" %>
            <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
            <%= render 'form', contact: @contact %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
