<div class="dashboard-container">
  <div class="row">
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="col-10">
      <div class="row inner-navbar">
        <%= render 'shared/navbar' %>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="secbtn"><%= link_to "New Contact", new_contact_path %></span>
            <span class="secbtn"><%= link_to "Back", dashboard_path %></span>
            <div class="row">
              <% @contacts.each do |contact| %>
                <div class="col-12 p-2">
                  <div class="card-task">
                    <div class="card-body">
                      <h2 class="card-title"><%= contact.first_name %> <%= contact.last_name %></h2>

                      <p class="card-text"><%= contact.email %></p>
                      <p class="card-text"><%= contact.instagram %></p>
                      <p class="card-text"><%= contact.twitter %></p>
                      <p class="card-text"><%= contact.linkedin %></p>

                      <%= link_to "Show Contact", contact_path(contact) %>
                      <%= link_to "Edit Contact", edit_contact_path(contact) %>
                      <%= link_to "Delete", contact_path(contact), method: :delete, remote: true, data: { confirm: 'Are you sure?' }%>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
