<div class="dashboard-container">

  <div class="sidebar col-sm-2">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-sm-10">
    <div class="inner-navbar">
      <%= render 'shared/navbar' %>
    </div>

    <div class="card">
      <div class="card-body">
          <h5 class="card-title"><%= @contact.first_name %> <%= @contact.last_name %></h5>
        <h2>Contact Information</h2>
          <p class="card-text"><%= @contact.email %>
          <p class="card-text"><%= @contact.instagram %>
          <p class="card-text"><%= @contact.twitter %>
          <p class="card-text"><%= @contact.linkedin %>
      </div>
   </div>
  </div>
</div>

   <%= link_to "Send Email", new_email_path, class: "btn btn-flat" %>


