<div class="contact-container">
  <div class="row">
    <div class="sidebar col-2 col-sm-1">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="col-10 p-2 container">
      <div class="row inner-navbar">
          <%= render 'shared/navbar' %>
      </div>

      <div id="container-height" class="row">
        <div class="col-4">
          <div class="dashboard-reviews justify-content-end">
              <h1 id="header"><strong>Guest Profile </strong></h1>
              <div class="col-12 ">
                  <div class="card">
                    <div class="card-body d-flex">
                      <h5 class="card-title"><%= @contact.first_name %> <%= @contact.last_name %></h5>
                      <p class="card-text"><%= @contact.email %>
                      <p class="card-text"><%= @contact.instagram %>
                      <p class="card-text"><%= @contact.twitter %>
                      <p class="card-text"><%= @contact.linkedin %>
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="col-8">
          <div class="dashboard-tasks">
            <h1 id="header"><strong>My Tasks</strong></h1>
            <div class="row">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




