<div class="dashboard-container">

  <div class="sidebar col-sm-2">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-sm-10">
    <div class="inner-navbar">
      <%= render 'shared/navbar' %>
    </div>


<h1>Email</h1>

<div>
  <div class="card">

      <div class="card-body">
          <h5 class="Email"><%= @email.contact.first_name %> <%= @email.contact.last_name %></h5>
        <h2>Email Information</h2>
          <p class="card-text"><%= @email.content %>
      </div>


   </div>
</div>

    <div>
      <%= link_to "Back", emails_path %>
    </div>


